body {
  background-color: #1f1f2c;
  color:#c8c8c8;
  font-family: 'Open-sans', sans-serif;
}

h1 {
color: #dadada;
font-family: 'Cuprum', sans-serif;
text-align: center;
}

h2{
font-family: 'Lato', sans-serif;
text-align: center;
}

h3{
font-family: 'Lato', sans-serif;
text-align: center;
}

footer{
text-align: center;
font-family: 'Lato', sans-serif;
}

header{
font-family: 'Lato', sans-serif;
background-color: #252532;
}

a:link {
  text-decoration: none;
  color: #b8b8b8;
}

a:hover {
  color: #7289DA;
  text-decoration: underline;
}

a:visited {
  color: #7289DA;
  text-decoration: none;
}

img {
  float: center;
}

#game {
  background-color: #1d1d28;
}

.button {
  transition-duration: 0.4s;
  color: #7289da;
  background-color: #1f1f2c;
  border: line;
  border-radius: 12px;
  font-size: 16px;
  padding: 12px 50px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}
.button:hover {
  background-color: #1f1f2c;
  border-color: #5b1111;
}

.mainlistb {
  transition-duration: 0.4s;
  color: #7289da;
  background-color: #1f1f2c;
  border: line;
  border-radius: 12px;
  font-size: 16px;
  padding: 12px 50px;
  text-align: center;
  text-decoration: none;
  float: center;
}
.mainlistb:hover {
  background-color: white;
}
